@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
	margin:0;
	Padding:0;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
img{
	max-width: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header-section{}
.main-feature-image{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/image1.jpg);
	height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.feature-image{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/image2.jpg);
	height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

section{}
.container{
    width: 1200px;
    margin: auto;
    padding: 12px 0;
}
.logo{
    width: 20%;
    flex: 0 0 auto;
}
.logo a{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1px;
}
.logo a img{}

nav{
    width: 80%;
    flex: 0 0 auto;
}
nav ul{
    justify-content: flex-end;
}
nav ul li{
}
nav ul li a{
    padding: 0px 12px;
    color: #fff;
    display: block;
    font-size: 18px;
    transition-duration: 0.3s;
    border-radius: 53px;
}
nav ul li a:hover{
    border: 3px solid;
}
.indisplay{
	border: 3px solid;
}
strong{}

.feature-content{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 80px;
    color: #fff;
}
.feature-content strong{}
.btn{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #FB2056;
	padding: 5px 15px;
	display: inline-block;
	border-radius: 30px;
	font-size: 14px;
	letter-spacing: 1px;
	transition-duration: 0.3s;
}
.btn:hover{
    box-shadow: 2px 3px 6px #00000094;
}
.feature-content h1{
	font-size: 45px;
	text-transform: uppercase;
	padding: 15px;
}
.feature-content a{}
.direction{}

.quote{
    background-color: #F4F5F9;
    text-align: center;
    padding: 45px;
    font-size: 14px;
}
blockquote{}
span{
    text-transform: uppercase;
    padding-top: 10px;
    display: inline-block;
}

.events-section{}
.events{}
.events h2{
	text-align: center;
    margin: 60px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
}

.col2{
    width: 50%;
    padding: 25px;
    text-align: center;
}
.col2 img{
    transition-duration: 0.3s;
    box-shadow: 7px 8px 12px 0px #00000066;
}
.col2 img:hover{
    
}
.col2 strong{
    text-align: center;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.col2 p{
	font-size: 14px;
}
.col2 a{
	color: red;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.width{
    width: 55%;
}
.width2{
    width: 60%;
}

.col2-image{}

.mid-feature-section{padding: 50px 0;}
.feature-image{}
.content{
    width: 50%;
    color: #fff;
    padding: 70px 22px;
}
.content h1{
    font-size: 55px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: 600;
    padding-bottom: 30px;
}
.content p{
    color: #fff;
    font-size: 13px;
    padding: 10px 170px 0 0;
}
.content a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 25px;
    display: inline-block;
}

.tour-section{
    margin-top: 40px;
}

/*.col3{
    width: 33.33%;
}*/
.article-section{
    width: 30%
}
.image-section{
    width: 70%;
    padding: 20px;
}
.col3-image{}
.article{
	    
}
.article h2{
	padding: 0 0px 40px 0;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28px;
}
.article p{
    font-size: 14px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.article a{
	
}
.tour-image{
    width: 50%;
    padding: 6px;
}
}
.tour-image img{
	padding: 7px;
}

.footer-section{
    margin-top: 80px;
}
footer{
    background: #000000db;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
footer p{
    font-size: 14px;
    line-height: 25px;
}
